.wechatgroup-detail{
    .left-side{
        width:140px;
        img{
            width:120px;
            height:120px;
            border:1px solid #eee;
        }
    }

    .right-side{
        width:calc(100% - 160px);
    }
}