<div class="container">
    <form class="subscription-form">
        <div class="row">
            <div>user</div>
            <input name="user" [(ngModel)]="subscription.user"/>
        </div>
        <div class="row">
            <div>ip</div>
            <input name="ip" [(ngModel)]="subscription.ip"/>
        </div>
        <div class="row">
            <div>wechatgroup</div>
            <input name="wechatgroup" [(ngModel)]="subscription.wechatgroup"/>
        </div>
        <div class="row">
            <div>created</div>
            <input name="created" [(ngModel)]="subscription.created"/>
        </div>
        <div class="row">
            <div>updated</div>
            <input name="updated" [(ngModel)]="subscription.updated"/>
        </div>
        <button (click)="save()">Save</button>
    </form>
</div>