<div class="container wechatgroup-detail">
<!--         <div class="row">
            <div class="label-sm">n_subscription</div>
            <input name="n_subscription" [(ngModel)]="wechatgroup.n_subscription"/>
            <img style="width:100px;height:100px;" [src]="wechatgroup.logo"/>
        </div> -->
<!--         <div class="row">
            <div>rating</div>
            <input name="rating" [(ngModel)]="wechatgroup.rating"/>
        </div> -->
        <div class="row">
            <div class="left-side">
                <img src={{wechatgroup.logo}} />
            </div>
            <div class="right-side">
                <div class="title">{{wechatgroup.title}}</div>
                <p class="row description">
                    <span class="title-md">{{'INTRODUCTION'|translate}}:&nbsp;</span>
                    {{wechatgroup.description}}
                </p>
                  
                <div class="row category">
                    <span class="title-md">{{'CATEGORY'|translate}}:&nbsp;</span>{{categoryName}}
                </div>
                <div class="row date">
                    <span class="title-md">{{'CREATED'|translate}}:&nbsp;</span>{{wechatgroup.created | date: 'dd/MM/yyyy'}}
                </div>
                <div class="row date">
                    <span class="title-md">{{'UPDATED'|translate}}:&nbsp;</span>{{wechatgroup.updated | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>
        <div class="row images-row">
            <div *ngFor="let qr of wechatgroup.qrs;let i=index;">
                <div class="image-block" *ngIf="qr.image.data!=emptyImage && qr.image.data!=wechatgroup.logo">
                    <img [src]="qr.image.data" />
                    <div class="label-sm">{{qr.title}}</div>
                </div>
            </div>
        </div>
<!--         <div class="row">
            <div class="label-sm">user</div>
            <input name="user" [(ngModel)]="wechatgroup.user"/>
        </div> -->
<!--         <div class="row">
            <div>created</div>
            <input name="created" [(ngModel)]="wechatgroup.created"/>
        </div> -->
</div>