<header>
  <nav class="navbar navbar-expand-md navbar-light bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
        <img class="logo-icon" src="/assets/images/logo.png" />
        <div class="brand-name">{{'QUN_FINDER' | translate}}</div>
    </a>

<!--     <div class="nav-item my-qr-m">
        <img [src]="wechat.logo.data" />
        <div class="title-sm">*{{wechat.title}}</div>
        <div class="title-sm">**{{wechat.description}}</div>
    </div> -->
    
    <div class="collapse navbar-collapse" id="navbarContent">
        <div class="row">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" (click)="toPage('home')">{{'HOME' | translate}}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" *ngIf="!isLogin">
                    <a class="nav-link" (click)="toPage('admin/wechatgroups')" data-toggle="collapse">{{'LOGIN' | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="isLogin">
                    <a class="nav-link" (click)="toPage('admin/wechatgroups')" data-toggle="collapse">{{'ADMIN' | translate}}</a>
                </li>
                <li class="nav-item" *ngIf="isLogin">
                    <a class="nav-link" (click)="logout()" data-toggle="collapse">{{'LOGOUT' | translate}}</a>
                </li>
<!--                 <li class="nav-item">
                    <a class="nav-link" (click)="toPage('contact')" >{{'CONTACT_US' | translate}}</a>
                </li> -->
                <li class="nav-item search-area">
                    <div class="input-group search-box">
                      <input type="text" [(ngModel)]="keyword" placeholder="{{'SEARCH_BY_KEYWORD'|translate}}" aria-describedby="basic-addon2" (keyup)="term$.next($event.target.value)">
                      <div class="btn btn-search" (click)="search(keyword)"><i class="fa fa-search"></i>{{'SEARCH'|translate}}</div>
                    </div>
                </li>
                <li class="nav-item my-qr">
                    <img [src]="wechat.logo.data" />
                    <div class="title-sm">*{{wechat.title}}</div>
                    <div class="title-sm">**{{wechat.description}}</div>
                </li>
            <!--           <li class="nav-item language-menu">
                <a class="nav-link"  (click)="changeLanguage('en')">English</a>
              </li>
              <li class="nav-item language-menu">
                <a class="nav-link"  (click)="changeLanguage('cn')">中文</a>
              </li> -->
            </ul>
        </div>
    </div>

    <div class="my-qr-m">
        <img [src]="wechat.logo.data" />
        <div class="title-sm">*{{wechat.title}}</div>
        <div class="title-sm">**{{wechat.description}}</div>
    </div>
  </nav>

</header>



