.list-body{
    .row{
        padding:10px 0px;

        .left-side{
            img{
                width:64px;
                height:64px;
            }
        }
        .right-side{
            width:calc(100% - 120px);
            margin-left:15px;
        }
    }
}

$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1199px)";
$desktop: "(min-width: 1200px)";

$IMAGE_W:160px;
$IMAGE_H:160px;

.wechatgroup-list{
    margin-top:15px;
    padding:0px 80px;
    
    .item-cell{
        display:inline-block;
        vertical-align: top;
        // border:1px solid #eee;
        margin-top:8px;
        margin-bottom:8px;
        margin-right:10px;
    }
    
    .image-area{
        img{
            // width:$IMAGE_W;
            // height:$IMAGE_H;
            display: block;
            margin: auto;
        }
    }

    .text-area{
        padding:10px;
        padding-bottom:5px;

        .price{
            font-size: 14px;
            font-weight: 700;
        }
        .price-row{
            padding-left:15px;
            height:30px;
        }
        .like-btn{
            padding-left:20px;
        }
        p{
            float: right;
            span{
                font-size: 110%; 
            }
            a.heart-empty{
                font-size: 130%;
                color: black;
            }
            a.heart-full{
                font-size: 130%;
                color: red;
            }
        }
    }


}

@media #{$desktop}{

}

@media #{$tablet}{

 }

@media #{$mobile}{
    .wechatgroup-list{
        padding-left:10px;
        padding-right:10px;

        .item-cell{
            margin-top:8px;
            margin-bottom:8px;
        }
    }
}