.category-list{
    padding:0px 25px;
    
    .category{
        margin-right:5px;
        margin-bottom:5px;
        max-width:100px;
        float:left;

        .btn{
            min-width:60px;    
        }
    }

}