<div class="admin-wechatgroup-form">
    <div class="container">
        <div class="title-md">{{'WECHAT_GROUP'|translate}}:</div>
        
        <form class="wechatgroup-form">
            <div class="row">
                <div class="label-sm">{{'TITLE'|translate}}</div>
                <input name="title" [(ngModel)]="wechatgroup.title"/>
            </div>
            <div class="row">
                <div class="label-sm">{{'DESCRIPTION'|translate}}</div>
                <textarea name="description" [(ngModel)]="wechatgroup.description"></textarea>
            </div>
    <!--         <div class="row">
                <div class="label-sm">n_subscription</div>
                <input name="n_subscription" [(ngModel)]="wechatgroup.n_subscription"/>
                <img style="width:100px;height:100px;" [src]="wechatgroup.logo"/>
            </div> -->
    <!--         <div class="row">
                <div>rating</div>
                <input name="rating" [(ngModel)]="wechatgroup.rating"/>
            </div> -->
<!--             <div class="row">
                <div class="label-sm">{{'LOGO'|translate}}</div>
                <input name="logo" type="file" (change)="onFileChange($event)" />
                <img [src]="logo" />
                <div class="canvas-frame">
                    <canvas id="item-canvas" [style.width.px]="CANVAS_W" [style.marginTop.px]="FRAME_PADDING_H"></canvas>
                </div>
            </div> -->
            <div class="row" *ngFor="let qr of wechatgroup.qrs; let i=index">
                <div class="label-sm">{{'PICTURE_TITLE'|translate}}</div>
                <input name="title{{i}}" [value]="qr.title" />
                <div class="label-sm">{{'PICTURE'|translate}}</div>
                <input class="upload-input" name="image{{i}}" type="file" (change)="onImageChange($event, i)" />
                <img [src]="qr.image.data" />
                <div class="btn" (click)="onLoadImage(i)">{{'UPLOAD'|translate}}</div>
                <div class="btn" (click)="onDeleteImage(i)">{{'DELETE'|translate}}</div>
                <div class="label-sm">*Need to click the Save button to save the result</div>
            </div>
    <!--         <div class="row">
                <div class="label-sm">user</div>
                <input name="user" [(ngModel)]="wechatgroup.user"/>
            </div> -->
            <div class="row">
                <div class="label-sm">{{'CATEGORY'|translate}}</div>
                <select name="category" [(ngModel)]="wechatgroup.category.id">
                    <option *ngFor="let cat of categoryList" [value]="cat.id">{{cat.name}}</option>
                </select>
            </div>
    <!--         <div class="row">
                <div>created</div>
                <input name="created" [(ngModel)]="wechatgroup.created"/>
            </div> -->
            <button (click)="save()">{{'SAVE'|translate}}</button>
        </form>
    </div>
</div>