<div class="page">

    <div class="filter-area">
        <div class="row">
            <div class="input-group search-box">
              <input type="text" [(ngModel)]="keyword" placeholder="{{'SEARCH_BY_KEYWORD'|translate}}" aria-describedby="basic-addon2" (keyup)="term$.next($event.target.value)">
              <div class="btn btn-search" (click)="search(keyword)"><i class="fa fa-search"></i>{{'SEARCH'|translate}}</div>
            </div>
        </div>
        <div class="row category-area">
            <div class="label-block">{{'CATEGORY'|translate}}:</div>
            <div class="category-block">
                <app-category-list></app-category-list>
            </div>
        </div>
        
    </div>
    
    
    <wechatgroup-list></wechatgroup-list>

</div>