$primary-color:#003e7e;
$primary-focus-color:#11759a;

.page-login {

.google-signin{

	#google-signin-btn {
      display: inline-block;
      background: white;
      color: #444;
      white-space: nowrap;
      line-height:22px;
      padding-top:4px;
    }

    #google-signin-btn:hover {
      cursor: pointer;
    }

    span.label {
      font-family: serif;
      font-weight: normal;
    }

    img.google-icon {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
    }

    span.btn-text {
      display: inline-block;
      vertical-align: middle;
      padding-left: 16px;
      padding-right: 42px;
      font-size:16px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
    }
}

.fb-signin{
    #fb-signin-btn {
      display: inline-block;
      background: white;
      color: #444;
      white-space: nowrap;
      line-height:22px;
      padding-top:4px;
      font-size:16px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
    }
}

	// #btn-google-signin{
	// 	margin-left: auto;
	// 	margin-right: auto;
	// 	width:360px;
 //    	margin-top:30px;
	// }
  // .logo {
  //   padding: 20px 0;
  //   min-height: 200px;
  //   text-align: center;

  //   img {
  //     max-width: 150px;
  //   }
  // }
}