<div class="container">
    <form class="wechatgroup-form">
        <div class="row">
            <div>title</div>
            <input name="title" [(ngModel)]="wechatgroup.title"/>
        </div>
        <div class="row">
            <div>description</div>
            <input name="description" [(ngModel)]="wechatgroup.description"/>
        </div>
        <div class="row">
            <div>n_subscription</div>
            <input name="n_subscription" [(ngModel)]="wechatgroup.n_subscription"/>
        </div>
        <div class="row">
            <div>rating</div>
            <input name="rating" [(ngModel)]="wechatgroup.rating"/>
        </div>
        <div class="row">
            <div>qr</div>
            <input name="qr" [(ngModel)]="wechatgroup.qr"/>
        </div>
        <div class="row">
            <div>image</div>
            <input name="image" [(ngModel)]="wechatgroup.image"/>
        </div>
        <div class="row">
            <div>user</div>
            <input name="user" [(ngModel)]="wechatgroup.user"/>
        </div>
        <div class="row">
            <div>created</div>
            <input name="created" [(ngModel)]="wechatgroup.created"/>
        </div>
        <button (click)="save()">Save</button>
    </form>
</div>