<div class="container">
    <form class="user-form">
        <div class="row">
            <div>username = models.CharField(</div>
            <input name="username = models.CharField(" [(ngModel)]="user.username = models.CharField("/>
        </div>
        <div class="row">
            <div>first_name = models.CharField(_('first name'), max_length=30, blank=True)</div>
            <input name="first_name = models.CharField(_('first name'), max_length=30, blank=True)" [(ngModel)]="user.first_name = models.CharField(_('first name'), max_length=30, blank=True)"/>
        </div>
        <div class="row">
            <div>last_name = models.CharField(_('last name'), max_length=150, blank=True)</div>
            <input name="last_name = models.CharField(_('last name'), max_length=150, blank=True)" [(ngModel)]="user.last_name = models.CharField(_('last name'), max_length=150, blank=True)"/>
        </div>
        <div class="row">
            <div>portrait</div>
            <input name="portrait" [(ngModel)]="user.portrait"/>
        </div>
        <div class="row">
            <div>type</div>
            <input name="type" [(ngModel)]="user.type"/>
        </div>
        <button (click)="save()">Save</button>
    </form>
</div>